/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fde0e0; /* Light Pink Background */
    text-align: center;
}

h1 {
    color: #ff007f; /* Pink Header Text Color */
    margin: 20px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Payment page styles */
.payment-container {
    background-color: #fff; /* White Payment Container Background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    margin: 0 auto; /* Center the container */
}

.payment-header {
    background-color: #ff007f; /* Pink Payment Header Background */
    color: #fff; /* White Text Color */
    font-size: 1.2em;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.payment-form {
    margin-top: 20px;
}

.payment-label {
    color: #333; /* Black Text Color */
    font-weight: bold;
}

.payment-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ff007f; /* Pink Border */
    border-radius: 5px;
}

.payment-button {
    background-color: #ff007f; /* Pink Payment Button Background */
    color: #fff; /* White Text Color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
}

.payment-button:hover {
    background-color: #ff0055; /* Darker Pink on Hover */
}
